* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

footer {
  background-color: #252525;
  color: #fff;
  width: 100%;
  padding: 1rem;
}

p {
  margin: 0;
}

@media only screen and (max-width: 450px) {
  .img-container div span { font-size: 0.8rem;}
  footer p {
   font-size: 0.6rem;
 }
}